Moo.Debug/Service References/MooAPI/API.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Moo.API" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Moo.API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBriefUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BriefUserInfo" nillable="true" type="tns:BriefUserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBriefUserInfo" nillable="true" type="tns:ArrayOfBriefUserInfo" />
  <xs:complexType name="BriefUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BriefUserInfo" nillable="true" type="tns:BriefUserInfo" />
</xs:schema>