Moo.Debug/Service References/MooAPI/API2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50010/API.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Moo.API" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrustedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrustedUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTrustedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTrustedUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTrustedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTrustedUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Moo.API" minOccurs="0" name="ListTrustedUserResult" nillable="true" type="q1:ArrayOfBriefUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Moo.API" minOccurs="0" name="GetUserByNameResult" nillable="true" type="q2:BriefUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProblem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProblemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateProblemResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTranditionalTestCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="problemID" type="xs:int" />
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="answer" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="timeLimit" type="xs:int" />
        <xs:element minOccurs="0" name="memoryLimit" type="xs:int" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTranditionalTestCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTranditionalTestCaseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSpecialJudgedTestCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="problemID" type="xs:int" />
        <xs:element minOccurs="0" name="judgerID" type="xs:int" />
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="answer" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="timeLimit" type="xs:int" />
        <xs:element minOccurs="0" name="memoryLimit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSpecialJudgedTestCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSpecialJudgedTestCaseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>